main {
	background-image: url("https://giphy.com/gifs/wallpaper-OK5LK5zLFfdm/tile");
	background-repeat:repeat;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}



body{background-color:#121212}

